@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    margin: 0;
    box-sizing:border-box;
    padding: 0;
}

    .sec7-1 {
        background-image: url(./img/main-building.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        margin: 20px 20px 20px 20px;
    }

    .sec7-2 {
        background-image: url(./img/tan-building.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        margin: 20px 20px 20px 20px;
    }

    .sec7-3 {
        background-image: url(./img/brown-building.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        margin: 20px 20px 20px 20px;
    }

    .building-txt i {
        color: aqua;
        background-color: aqua;
        height: 20px;
        width: 20px;
    }


    .building-txt {
        bottom: 0;

    }

    .building-txt h5 {
        font-family: $font1;
        font-style: italic;
        line-height: 24px;
        font-size: 20px;
        font-weight: 400;
        color: white;
    }

    .building-txt h6 {
        font-family: $font2;
        font-style: italic;
        line-height: 26px;
        font-size: 16px;
        font-weight: 400;
        color: white;
    }


// Tablet Breakpoint

// @media (min-width:481px) and (max-width:768px){
//     * {
//         height: 100%;
//         width: 100;
//         padding: 0;
//         margin: 0;
//         box-sizing: border-box;
//         // overflow: hidden;
//     }


//     .section7 {
//         display: grid;
//         grid-template-columns: 250px 250px 250px;
//         grid-template-rows: 700px;
//         // grid-gap: 10px;
//         position: relative;
//         justify-content: center;
//         height: auto;
//         top: 90%;
    
//     }
  

//     .sec7-1 {
//         background-image: url(./img/main-building.jpeg);
//         background-repeat: no-repeat;
//         background-size: cover;
//         background-position: center;
//         height: 600px;
//         margin: 10px 10px 10px 10px;
//     }

//     .sec7-2 {
//         background-image: url(./img/tan-building.jpeg);
//         background-repeat: no-repeat;
//         background-size: cover;
//         background-position: center;
//         height: 600px;
//         margin: 10px 10px 10px 10px;
//     }

//     .sec7-3 {
//         background-image: url(./img/brown-building.jpeg);
//         background-repeat: no-repeat;
//         background-size: cover;
//         background-position: center;
//         height: 600px;
//         margin: 10px 10px 10px 10px;
//     }

//     .building-txt i {
//         color: aqua;
//         background-color: aqua;
//         height: 20px;
//         width: 20px;
//     }


//     .building-txt {
//         bottom: 0;

//     }

//     .sec7-1 .building-txt h5 {
//         font-family: $font1;
//         font-style: italic;
//         line-height: 24px;
//         font-size: 18px;
//         font-weight: 400;
//         padding: 0px 15px 10px 15px;
//         color: white;
//         top: 74%;
//         position: relative;
//     }

    
//     .sec7-1 hr {
//         display: flex;
//         position: relative;
//         left: 7%;
//         border: 1px solid white;
//         padding: 0px;
//         margin: 0;
//         width: 213px;
//         height: 1px;
//         top: -15%;
//     }

//     .sec7-1 .building-txt h6 {
//         font-family: $font2;
//         font-style: italic;
//         line-height: 26px;
//         font-size: 16px;
//         font-weight: 400;
//         color: white;
//         position: relative;
//         top: -13%;
//         left: 15%;
//     }

//     .sec7-1 .sec7-hr2 {
//         display: flex;
//         position: relative;
//         left: 15%;
//         border: 1px dotted $primary;
//         padding: 0px;
//         margin: 0px 2px 0px 2px;
//         width: 70px;
//         height: 1px;
//         top: -108%;
//     }

//     .sec7-1 .building-txt h5 {
//         font-family: $font1;
//         font-style: italic;
//         line-height: 24px;
//         font-size: 18px;
//         font-weight: 400;
//         padding: 0px 15px 10px 15px;
//         color: white;
//         top: 74%;
//         position: relative;
//     }

    
//     .sec7-2 .building-txt h5 {
//         font-family: $font1;
//         font-style: italic;
//         line-height: 24px;
//         font-size: 18px;
//         font-weight: 400;
//         padding: 0px 15px 10px 15px;
//         color: white;
//         top: 60%;
//         position: relative;
//     }

    
//     .sec7-2 hr {
//         display: flex;
//         position: relative;
//         left: 7%;
//         border: 1px solid white;
//         padding: 0px;
//         margin: 0;
//         width: 213px;
//         height: 1px;
//         top: -33%;
//     }

//     .sec7-2 .building-txt h6 {
//         font-family: $font2;
//         font-style: italic;
//         line-height: 26px;
//         font-size: 16px;
//         font-weight: 400;
//         color: white;
//         position: relative;
//         top: -33%;
//         left: 15%;
//     }

//     .sec7-2 .sec7-hr2 {
//         display: flex;
//         position: relative;
//         left: 15%;
//         border: 1px dotted $primary;
//         padding: 0px;
//         margin: 0px 2px 0px 2px;
//         width: 70px;
//         height: 1px;
//         top: -128%;
//     }

    
//     .sec7-3 .building-txt h5 {
//         font-family: $font1;
//         font-style: italic;
//         line-height: 24px;
//         font-size: 18px;
//         font-weight: 400;
//         padding: 0px 15px 10px 15px;
//         color: white;
//         top: 60%;
//         position: relative;
//     }

    
//     .sec7-3 hr {
//         display: flex;
//         position: relative;
//         left: 7%;
//         border: 1px solid white;
//         padding: 0px;
//         margin: 0;
//         width: 213px;
//         height: 1px;
//         top: -33%;
//     }

//     .sec7-3 .building-txt h6 {
//         font-family: $font2;
//         font-style: italic;
//         line-height: 26px;
//         font-size: 16px;
//         font-weight: 400;
//         color: white;
//         position: relative;
//         top: -33%;
//         left: 15%;
//     }

//     .sec7-3 .sec7-hr2 {
//         display: flex;
//         position: relative;
//         left: 15%;
//         border: 1px dotted $primary;
//         padding: 0px;
//         margin: 0px 2px 0px 2px;
//         width: 70px;
//         height: 1px;
//         top: -128%;
//     }

// }
// // // Desktop Breakpoint

// @media (min-width:1200px){
//     * {
//         width: 100%;
//         height: 100%;
//         margin: 0px;
//         padding: 0px;
//         overflow-x: hidden; 
//         box-sizing: border-box;
//     }

    
//     .section7 {
//         display: grid;
//         grid-template-columns: 1fr 1fr 1fr;
//         grid-template-rows: 600px;
//         grid-gap: 10px;
//         position: relative;
//         justify-content: center;
//         height: auto;
//         top: 0%;
    
//     }
  

//     .sec7-1 {
//         background-image: url(./img/main-building.jpeg);
//         background-repeat: no-repeat;
//         background-size: cover;
//         background-position: center;
//         height: 600px;
//         margin: 10px 10px 10px 10px;
//     }

//     .sec7-2 {
//         background-image: url(./img/tan-building.jpeg);
//         background-repeat: no-repeat;
//         background-size: cover;
//         background-position: center;
//         height: 600px;
//         margin: 10px 10px 10px 10px;
//     }

//     .sec7-3 {
//         background-image: url(./img/brown-building.jpeg);
//         background-repeat: no-repeat;
//         background-size: cover;
//         background-position: center;
//         height: 600px;
//         margin: 10px 10px 10px 10px;
//     }

//     .building-txt i {
//         color: aqua;
//         background-color: aqua;
//         height: 20px;
//         width: 20px;
//     }


//     .building-txt {
//         bottom: 0;

//     }

//     .sec7-1 .building-txt h5 {
//         font-family: $font1;
//         font-style: italic;
//         line-height: 24px;
//         font-size: 18px;
//         font-weight: 400;
//         padding: 0px 15px 10px 15px;
//         color: white;
//         top: 80%;
//         position: relative;
//         height: auto;
//     }

    
//     .sec7-1 hr {
//         display: flex;
//         position: relative;
//         border: 1px solid white;
//         padding: 0px;
//         margin: 0;
//         width: 95%;
//         height: 1px;
//         top: 80%;
//         float: right;
//     }

//     .sec7-1 .building-txt h6 {
//         font-family: $font2;
//         font-style: italic;
//         line-height: 26px;
//         font-size: 16px;
//         font-weight: 400;
//         color: white;
//         position: relative;
//         top: 82%;
//         left: 15%;
//         height: auto;
//     }

//     .sec7-1 .sec7-hr2 {
//         display: flex;
//         position: relative;
//         border: 1px dotted $primary;
//         padding: 0px;
//         margin: 0px 2px 0px 2px;
//         width: 20%;
//         height: 1px;
//         top: 82%;
//         right: 65%;
//     }



   
//     .sec7-2 .building-txt h5 {
//         font-family: $font1;
//         font-style: italic;
//         line-height: 24px;
//         font-size: 18px;
//         font-weight: 400;
//         padding: 0px 15px 10px 15px;
//         color: white;
//         top: 80%;
//         position: relative;
//         height: auto;
//     }

    
//     .sec7-2 hr {
//         display: flex;
//         position: relative;
//         border: 1px solid white;
//         padding: 0px;
//         margin: 0;
//         width: 95%;
//         height: 1px;
//         top: 80%;
//         float: right;
//     }

//     .sec7-2 .building-txt h6 {
//         font-family: $font2;
//         font-style: italic;
//         line-height: 26px;
//         font-size: 16px;
//         font-weight: 400;
//         color: white;
//         position: relative;
//         top: 82%;
//         left: 15%;
//         height: auto;
//     }

//     .sec7-2 .sec7-hr2 {
//         display: flex;
//         position: relative;
//         border: 1px dotted $primary;
//         padding: 0px;
//         margin: 0px 2px 0px 2px;
//         width: 20%;
//         height: 1px;
//         top: 82%;
//         right: 65%;
//     }

    
//     .sec7-3 .building-txt h5 {
//         font-family: $font1;
//         font-style: italic;
//         line-height: 24px;
//         font-size: 18px;
//         font-weight: 400;
//         padding: 0px 15px 10px 15px;
//         color: white;
//         top: 80%;
//         position: relative;
//         height: auto;
//     }

    
//     .sec7-3 hr {
//         display: flex;
//         position: relative;
//         border: 1px solid white;
//         padding: 0px;
//         margin: 0;
//         width: 95%;
//         height: 1px;
//         top: 80%;
//         float: right;
//     }

//     .sec7-3 .building-txt h6 {
//         font-family: $font2;
//         font-style: italic;
//         line-height: 26px;
//         font-size: 16px;
//         font-weight: 400;
//         color: white;
//         position: relative;
//         top: 82%;
//         left: 15%;
//         height: auto;
//     }

//     .sec7-3 .sec7-hr2 {
//         display: flex;
//         position: relative;
//         border: 1px dotted $primary;
//         padding: 0px;
//         margin: 0px 2px 0px 2px;
//         width: 20%;
//         height: 1px;
//         top: 82%;
//         right: 65%;
//     }

// }