@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing:border-box;
    padding: 0;
}
// Mobile Break Point

.section-1 {
    background-image: url(./img/team.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: 70%;
    position: relative;
    height: 85vh;
    width: 100vw;
}
.section-1::before {
    content: ‘’;
    width: 73%;
    height: 3vh;
    background-color: $primary;
    position: absolute;
    align-items: center;
    display: flex;
    top: 15%;
    left: 10%;
    z-index: 1;
}
.card {
    background-color: white;
    width: 70%;
    float: right;
    position: relative;
    margin: 0% 0% 0% 0%;
    height: auto;
    top: 25%;
  }
  /* Add some padding inside the card container */
.container {
    margin-top: 23%;
    padding: 0% 0% 0% 10%;
    height:auto;
    position: relative;
  }
.card-head {
    font-family: $font1;
    line-height: 45px;
    font-size: 45px;
    width: 100vw;
    height: auto;
    padding: 0% 60% 0% 0%;
    margin: 0;
}
.card-para {
    line-height: 32px;
    font-size: 25px;
    font-family: $font2;
    font-size: 22px;
    font-weight: 400;
    height: auto;
    width: auto;
    padding: 7% 42% 0% 0%;
    margin: 6% 0% 0% 0%;
}
.learnmore {
    background-color: $primary;
    color: white;
    font-family: $font2;
    padding: 3% 12% 3% 12%;
    margin: 4% 0% 0% 0%;
    width: auto;
    height: auto;
    letter-spacing: 3px;
    font-weight: 100;
    line-height: 19px;
    font-size:12px;
    border: none;
    position: relative;
}



// // Tablet Breakpoint

// @media (min-width:768px) and (max-width:1199.87px){
//     * {
//         height: 100%;
//         width: 100%;
//         padding: 0;
//         margin: 0;
//         box-sizing: border-box;
//         overflow-x: hidden;
//     }

//     .section-1 {
//         background-image: url(./img/team.jpeg);
//         background-size:cover;
//         background-repeat: no-repeat;
//         position: relative;
//         height: 540px;
//         width: 100%;
//         // background-position-x: -80px;
        
//     }

//     .section-1::before {
//         content: '';
//         width: 60%;
//         height: 22px;
//         background-color: $primary;
//         position: absolute;
//         align-items: center;
//         display: flex;
//         margin-left: 200px;
//         margin-top: 140px;
//     }

//     .card {
//         transition: 0.3s;
//         background-color: white;
//         width: 56%;
//         float: right;
//         margin-top: 105px;
//         height: 435px;
//       }
      
//       /* Add some padding inside the card container */
//     .container {
//         padding: 2px 45px;
//         margin-top: 80px;
//         height: 350px;
//         width: 100%;
//       }

//     .card-head {
//         font-family: $font1;
//         line-height: 61px;
//         font-size: 55px;
//         width: 100%;
//         height: auto;
//         padding: 0;
//         margin: 0;
//         font-weight: 700;
//     }

//     .card-para {
//         line-height: 32px;
//         text-align: left;
//         font-family: $font2;
//         font-size: 19px;
//         font-weight: 400;   
//         color: black; 
//         width: 100%;
//         height: auto;
//         margin: 20px 0px 10px 0px;
//     }
      
//     .learnmore {
//             background-color: $primary;
//             color: white;
//             font-family: $font2;
//             padding: 10px 20px 20px 20px;
//             width: 180px;
//             letter-spacing: 3px;
//             font-weight: 400;
//             margin: 15px 5px 15px 0px;
//             line-height: 19px;
//             font-size: 12px;
//             border: none;
//             height: 40px;
//     }

// }
// // Desktop Breakpoint
// @media (min-width:1200px){
//     * {
//         width: 100%;
//         height: 100%;
//         margin: 0px;
//         padding: 0px;
//         overflow-x: hidden; 
//         box-sizing: border-box;
//     }



//     .section-1 {
//         background-image: url(./img/team.jpeg);
//         background-size:cover;
//         background-repeat: no-repeat;
//         background-position:center;
//         position: relative;
//         height: 800px;
//         width: 100%;
//         margin: 0px;
        
//         // background-position-x: -80px;
        
//     }

//     .section-1::before {
//         content: '';
//         width: 40%;
//         height: 22px;
//         background-color: $primary;
//         position: absolute;
//         align-items: center;
//         display: flex;
//         top: 40%;
//         left: 51%;
//         z-index: 1;
//         // margin-left: 200px;
//         // margin-top: 140px;
//     }

//     .card {
//         position: relative;
//         background-color: white;
//         width: 40%;
//         float: right;
//         height: 520px;
//         bottom: 0;
//         top: 35%;
    
//       }
      
//       /* Add some padding inside the card container */
//     .container {
//         // padding: 2px 45px;
//         margin-top: 80px;
//         height: auto;
//         // width: 100%;
//       }

//     .card-head {
//         font-family: $font1;
//         line-height: 70px;
//         font-size: 60px;
//         width: 100%;
//         height: auto;
//         padding: 0px 20px 10px 30px;
//         margin: 0;
//         font-weight: 700;
//     }

//     .card-para {
//         line-height: 32px;
//         text-align: left;
//         font-family: $font2;
//         font-size: 19px;
//         font-weight: 400;   
//         color: black; 
//         width: 100%;
//         height: auto;
//         margin: 20px 0px 10px 0px;
//         padding: 0px 30px 10px 30px;
//     }
      
//     .learnmore {
//             background-color: $primary;
//             color: white;
//             font-family: $font2;
//             padding: 10px 20px 10px 20px;
//             width: 180px;
//             letter-spacing: 3px;
//             font-weight: 400;
//             margin: 15px 0px 15px 30px;
//             line-height: 19px;
//             font-size: 13px;
//             border: none;
//             height: auto;
//     }
// } 