@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    margin: 0;
    box-sizing:border-box;
    padding: 0;
}
// Mobile Break Point
@media (max-width:480px){
    .sec4-1 {
        background-color: $primary;
    }
    .sec4-1 h1 {
        font-family: $font1;
        font-weight: 400;
        color: white;
        text-transform: uppercase;
        padding: 40px 60px 20px 60px;
        font-size: 36px;
        line-height: 40px;
    }

    .line3 {
    }
    
    .sec4-1 p {
        font-family: $font2;
        color: white;
        font-size: 18px;
        line-height: 29px;
        font-weight: 200;
        padding: 30px 70px 20px 70px;

    }
    .sec4-1 button {
        font-family: $font2;
        font-weight: 200;
        font-size: 12px;
        line-height: 19px;
        padding: 10px 40px 10px 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        margin: 10px 0px 100px 70px;
    }

    .sec4-2 img {
        width: 100%;
        object-fit: contain;
        margin: 0;
        padding: 0;
    }

}

// Tablet Breakpoint
@media (max-width:768px){
    // CODE IN HERE
}
// Desktop Breakpoint
@media (max-width:1200px){
    // CODE IN HERE
}