@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    margin: 0;
    box-sizing:border-box;
    padding: 0;
}
// Mobile Break Point
@media (max-width:480px){

    .sec8-1 {
        height: 600px;
        width: 100%;
    }
    .sec8-1 img {
        object-fit:cover;
        height: 600px;
        display: flex;
        position: relative;
        right: 50%;
        }

    .sec8-2 {
        background-color: $primary;
        color: white;
    }

    .sec8-2 h1 {
        font-family: $font1;
        font-weight: 400;
        font-size: 40px;
        line-height: 43px;
        text-transform: uppercase;
        padding: 80px 60px 50px 40px;
    }

    .sec8-2 p {
        font-family: $font2;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        padding: 50px 70px 20px 40px;
    }

    .sec8-2 button {
        font-family: $font2;
        font-weight: 200;
        font-size: 12px;
        line-height: 19px;
        padding: 10px 40px 10px 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        margin: 30px 0px 180px 220px;
    }

}
// Tablet Breakpoint
@media (max-width:768px){
    * {
        height: 100%;
        width: 100;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        // overflow: hidden;
    }

    .section8 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 900px;
        // grid-gap: 10px;
        position: relative;
        justify-content: center;
        height: auto;
        top: 90%;
        width: 100%;
    }
    .sec8-1 {
        height: 600px;
        width: 1 fr;
        top: 0%;
    }
    .sec8-1 img {
        object-fit:cover;
        height: 900px;
        width: auto;
        object-fit: cover;
        width: 367px;
        position:relative;
        }

    .sec8-2 {
        background-color: $primary;
        color: white;
        width: 100%;
        
    }

    .sec8-2 h1 {
        font-family: $font1;
        font-weight: 400;
        font-size: 40px;
        line-height: 43px;
        text-transform: uppercase;
        padding: 80px 60px 50px 40px;
    }

    .sec8-2 hr {
        display: flex;
        position: relative;
        left: 15%;
        border: 1px solid white;
        padding: 0px;
        margin: 0;
        width: 100px;
        height: 1px;
        top: -62%;
    }

    .sec8-2 p {
        font-family: $font2;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        padding: 0px 40px 0px 60px;
        position: relative;
        top: -55%;
    }


    .sec8-2 button {
        font-family: $font2;
        font-weight: 200;
        font-size: 12px;
        line-height: 19px;
        padding: 10px 30px 10px 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        margin: 0px 0px 0px 0px;
        position: relative;
        top: -118%;
        left: 15%;
        height: auto;
    }

}
// Desktop Breakpoint
@media (max-width:1200px){
    * {
        height: 100%;
        width: 100;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .section8 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 750px;
        position: relative;
        justify-content: center;
        height: auto;
        top: 0%;
        width: 100%;
    }
    .sec8-1 {
        height: auto;
        width: 100%;
        top: 0%;
        position: relative;
    }
    .sec8-1 img {
        object-fit:cover;
        height: 748px;
        width: 100%;
        position:relative;
        }

    .sec8-2 {
        background-color: $primary;
        color: white;
        width: 100%;
        height: auto;
    }

    .sec8-2 h1 {
        font-family: $font1;
        font-weight: 400;
        font-size: 42px;
        line-height: 43px;
        text-transform: uppercase;
        padding: 80px 60px 50px 50px;
        margin: 20px 40px 10px 30px;
        height: auto;
        width: auto;
    }

    .sec8-2 hr {
        display: flex;
        position: relative;
        left: 15%;
        border: 1px solid white;
        padding: 0px;
        margin: 0;
        width: 100px;
        height: 1px;
        top: 0%;
    }

    .sec8-2 p {
        font-family: $font2;
        font-weight: 400;
        font-size: 21px;
        line-height: 30px;
        padding: 0px 45px 0px 60px;
        margin: 20px 40px 10px 30px;
        position: relative;
        top: 0%;
        height: auto;
        width: auto;
    }


    .sec8-2 button {
        font-family: $font2;
        font-weight: 200;
        font-size: 15px;
        line-height: 19px;
        padding: 10px 30px 10px 30px;
        margin: 40px 40px 10px 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        position: relative;
        top: 0%;
        left: 10%;
        height: auto;
        width: auto;
    }
}