@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    margin: 0;
    box-sizing:border-box;
    padding: 0;
}
// Mobile Break Point
@media (max-width:480px){

    .sec8-1 {
        height: 600px;
        width: 100%;
    }
    .sec8-1 img {
        object-fit:cover;
        height: 600px;
        display: flex;
        position: relative;
        right: 50%;
        }

    .sec8-2 {
        background-color: $primary;
        color: white;
    }

    .sec8-2 h1 {
        font-family: $font1;
        font-weight: 400;
        font-size: 40px;
        line-height: 43px;
        text-transform: uppercase;
        padding: 80px 60px 50px 40px;
    }

    .sec8-2 p {
        font-family: $font2;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        padding: 50px 70px 20px 40px;
    }

    .sec8-2 button {
        font-family: $font2;
        font-weight: 200;
        font-size: 12px;
        line-height: 19px;
        padding: 10px 40px 10px 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        margin: 30px 0px 180px 220px;
    }

}
// Tablet Breakpoint
@media (max-width:768px){
    // CODE IN HERE
}
// Desktop Breakpoint
@media (max-width:1200px){
    // CODE IN HERE
}