@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    margin: 0;
    box-sizing:border-box;
    padding: 0;
}
// Mobile Break Point
    .sec4-1 {
        background-color: $primary;
    }
    .sec4-1 h1 {
        font-family: $font1;
        font-weight: 400;
        color: white;
        text-transform: uppercase;
        padding: 40px 60px 20px 60px;
        font-size: 36px;
        line-height: 40px;
    }

 
    
    .sec4-1 p {
        font-family: $font2;
        color: white;
        font-size: 18px;
        line-height: 29px;
        font-weight: 200;
        padding: 30px 70px 20px 70px;

    }
    .sec4-1 button {
        font-family: $font2;
        font-weight: 200;
        font-size: 12px;
        line-height: 19px;
        padding: 10px 40px 10px 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        margin: 10px 0px 100px 70px;
    }

    .sec4-2 img {
        width: 100%;
        object-fit: contain;
        margin: 0;
        padding: 0;
    }



// Tablet Breakpoint

// @media (min-width:481px) and (max-width:1199.87px){
//     * {
//         height: 100%;
//         width: 100;
//         padding: 0;
//         margin: 0;
//         box-sizing: border-box;
//         // overflow: hidden;
//     }

//     .section4 {
//         display: grid;
//         grid-template-columns: 384px 384px;
//         grid-template-rows: 800px;
//         position: relative;
//         justify-content: center;
//     }

//     .sec4-1 {
//         background-color: $primary;
//     }
//     .sec4-1 h1 {
//         font-family: $font1;
//         font-weight: 400;
//         color: white;
//         text-transform: uppercase;
//         padding: 180px 60px 20px 50px;
//         font-size: 39px;
//         line-height: 40px;
//         height: auto;
//         position: relative;
//     }

//     .line3 {
//         display: flex;
//         position: relative;
//         left: 15%;
//         border: 1px solid white;
//         padding: 0px;
//         margin: 0;
//         width: 120px;
//         height: 1px;
//         margin: 30px 0px 30px 0px;
//     }
    
//     .sec4-1 p {
//         font-family: $font2;
//         color: white;
//         font-size: 17px;
//         line-height: 29px;
//         font-weight: 200;
//         padding: 30px 60px 20px 50px;
//         height: auto;
//         position: relative;

//     }
//     .sec4-1 button {
//         font-family: $font2;
//         font-weight: 200;
//         font-size: 12px;
//         line-height: 19px;
//         padding: 10px 40px 10px 40px;
//         text-transform: uppercase;
//         letter-spacing: 2px;
//         background-color: transparent;
//         border: 1px solid white;
//         color: white;
//         margin: 10px 0px 100px 70px;
//         height: auto;
//     }

//     .sec4-2 img {
//         width: 100%;
//         object-fit: cover;
//         margin: 0;
//         padding: 0;
//     }

// }
// // Desktop Breakpoint
// @media (min-width:1200px){
//     * {
//         width: 100%;
//         height: 100%;
//         margin: 0px;
//         padding: 0px;
//         overflow-x: hidden; 
//         box-sizing: border-box;
//     }

//     .section4 {
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//         grid-template-rows: 600px;
//         position: relative;
//         justify-content: center;
//         width: 100%;
//         height: auto;
//         top: -18%;
//     }

//     .sec4-1 {
//         background-color: $primary;
//     }
//     .sec4-1 h1 {
//         font-family: $font1;
//         font-weight: 400;
//         color: white;
//         text-transform: uppercase;
//         padding: 180px 60px 20px 50px;
//         font-size: 39px;
//         line-height: 40px;
//         height: auto;
//         position: relative;
//     }

//     .line3 {
//         display: flex;
//         position: relative;
//         left: 10%;
//         border: 1px solid white;
//         padding: 0px;
//         margin: 0;
//         width: 120px;
//         height: 1px;
//         margin: 30px 0px 30px 0px;
//     }
    
//     .sec4-1 p {
//         font-family: $font2;
//         color: white;
//         font-size: 18px;
//         line-height: 29px;
//         font-weight: 200;
//         padding: 10px 80px 10px 50px;
//         height: auto;
//         position: relative;

//     }
//     .sec4-1 button {
//         font-family: $font2;
//         font-weight: 200;
//         font-size: 13px;
//         line-height: 19px;
//         padding: 10px 40px 10px 40px;
//         text-transform: uppercase;
//         letter-spacing: 2px;
//         background-color: transparent;
//         border: 1px solid white;
//         color: white;
//         margin: 10px 0px 100px 50px;
//         height: auto;
//         width: auto;
//     }

//     .sec4-2 img {
//         width: 100%;
//         object-fit: cover;
//         margin: 0;
//         padding: 0;
//     }
// }